<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
    
  <system.serviceModel>

    <services>
      <service name="RestService.RestService" behaviorConfiguration="serviceBehavior">
        <endpoint binding="webHttpBinding"
                  contract="RestService.IRestService"
                  behaviorConfiguration="restful" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="restful">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
    
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    
    <directoryBrowse enabled="true"/>
    
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
