Sources/Ex02_Point2D/Ex02/bin/
Sources/Ex02_Point2D/Ex02/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Sources/Ex02_Point2D/Ex02/obj/
Sources/Ex03_Documents/Ex03/obj/
Sources/Ex03_Documents/Ex03/bin/
