<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginService" />
                <binding name="BasicHttpBinding_ILoginService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63373/LoginService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginService" contract="ILoginService"
                name="BasicHttpBinding_ILoginService" />
            <endpoint address="http://localhost:63373/LoginService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginService1" contract="LoginServiceReference.ILoginService"
                name="BasicHttpBinding_ILoginService1" />
        </client>
    </system.serviceModel>
</configuration>