<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63373/LoginService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILoginService" contract="ILoginService"
                name="BasicHttpBinding_ILoginService" />
        </client>
    </system.serviceModel>
</configuration>